@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    --barlow: 'Barlow', sans-serif;
    --barlow-c: 'Barlow Condensed', sans-serif;
    --red: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--barlow);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
    margin-top: 3rem;
}

.navbar {
    padding-block: .3rem;
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--very-dark-blue);
    text-decoration: none;
    margin-inline: 1.2rem;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--barlow-c);
    transition: .2s ease;
}

.login,
.dot {
    color: var(--grayish-blue) !important;
}

.dot {
    border: 3px solid var(--grayish-blue);
    border-radius: 50%;
}

.navbar a:hover {
    border-bottom: 2px solid var(--very-dark-blue);
}

.login:hover {
    border-bottom: 1px solid var(--grayish-blue) !important;
}

.menu {
    display: none;
}

.container {
    padding-left: 10rem;
    min-height: 60vh;
    display: flex;
    align-items: center;
    gap: 0;
    height: auto;
    margin-top: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    width: 50%;
    font-family: var(--barlow-c);
}

.info_header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info_header h5 {
    background-color: var(--very-dark-blue);
    color: #fff;
    padding: .2rem .6rem;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.info_header span {
    color: var(--grayish-blue);
    letter-spacing: 4px;
    font-size: 15px;
}

.info_body {
    font-size: 60px;
    font-weight: bold;
}

.info p {
    font-family: var(--barlow);
    color: var(--dark-grayish-blue);
    width: 70%;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.info_footer {
    display: flex;
    gap: 1rem;
}

.main_btn {
    cursor: pointer;
    background-color: var(--red);
    border: none;
    color: #fff;
    font-family: inherit;
    padding: .8rem 2rem;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease;
}

.main_btn:hover {
    opacity: .7;
}

.secondary_btn {
    background: transparent;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--grayish-blue);
    font-size: 18px;
    letter-spacing: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

footer a {
    color: var(--red);
}

@media(min-width:1150px) {
    .illustration {
        transform: translateX(13.8vw);
        object-fit: contain;
    }
}

@media(max-width:1149px) {
    .container {
        padding-left: 5rem;
        max-width: 1200px;
    }

    .illustration {
        transform: translateX(-3vw);
        object-fit: cover;
        min-width: 800px;
        z-index: 2;
    }

    .info {
        min-width: 400px;
    }
}

@media(max-width:899px) {
    .header {
        padding-inline: 2rem;
    }

    .navbar {
        display: none;
    }

    .navbar.show-nav {
        display: block;
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 60%;
        height: auto;
        background-color: #fff;
        z-index: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .dot {
        border: 1px solid var(--light-grayish-blue);
        border-radius: 0;
    }

    .navbar.show-nav a {
        display: block;
        margin-block: 1rem;
        text-align: center;
        font-size: 19.2px;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .container {
        flex-direction: column-reverse;
        padding-left: 0;
        gap: 2rem;
    }

    .illustration {
        transform: translateX(16.8vw);
        max-width: 500px;
        min-width: 50px;
        z-index: 0;
    }

    .info {
        width: 100%;
        min-width: 300px;
        padding-left: 1rem;
    }

    .info_body {
        font-size: 40px;
    }
}

@media(max-width:393px) {
    .navbar.show-nav {
        width: 85%;
    }

    .info_footer {
        flex-direction: column;
    }

    .main_btn {
        width: 140px;
    }

    .secondary_btn {
        width: 190px;
    }

    .main_btn,
    .secondary_btn {
        font-size: 14px;
        padding: .7rem 1rem;
    }
}